h1 {
    color: blueviolet;
    font-family:Arial, Helvetica, sans-serif
}
h2 {
    color: darkblue;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    font-size: 18px;
}
body{
    background-color: pink;
}
p {
    color: darkslateblue;
    font-size: medium;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
}